<app-main-carousel [slides]="slides"></app-main-carousel> 

<div fxLayout="row wrap" class="info-bar">
    <div fxFlex="100" fxFlex.gt-md="25" fxFlex.gt-xs="50">
        <mat-card class="light-block" fxLayout="row"  fxLayoutAlign="start center">
            <mat-icon class="mat-icon-xlg text-muted m-0">card_giftcard</mat-icon>
            <div class="content">
                <p>DESCUENTOS ESPECIALES</p> 
                <span class="text-muted m-0">Compra al por mayor y obten descuentos especiales</span>
            </div> 
        </mat-card> 
    </div>
    <div fxFlex="100" fxFlex.gt-md="25" fxFlex.gt-xs="50"> 
        <mat-card class="light-block" fxLayout="row"  fxLayoutAlign="start center">
            <mat-icon class="mat-icon-xlg text-muted m-0">local_shipping</mat-icon>
            <div class="content">
                <p>ENVIOS GRATIS</p> 
                <span class="text-muted m-0">Envios gratis en compras sobre $30.000</span>
            </div> 
        </mat-card>
    </div>
    <div fxFlex="100" fxFlex.gt-md="25" fxFlex.gt-xs="50"> 
        <mat-card class="light-block" fxLayout="row"  fxLayoutAlign="start center">
            <mat-icon class="mat-icon-xlg text-muted m-0">add_task</mat-icon>
            <div class="content">
                <p>GARANTIZAMOS CALIDAD</p> 
                <span class="text-muted m-0">Nuestros productos cuentan con un alto estandar en calidad</span>
            </div> 
        </mat-card>
    </div>
    <div fxFlex="100" fxFlex.gt-md="25" fxFlex.gt-xs="50"> 
        <mat-card class="light-block" fxLayout="row"  fxLayoutAlign="start center">
            <mat-icon class="mat-icon-xlg text-muted m-0">history</mat-icon>
            <div class="content">
                <p>SOPORTE ONLINE 24/7</p> 
                <span class="text-muted m-0">Disponibilidad 24/7 a tus consultas en nuestro Whatsapp</span>
            </div> 
        </mat-card>
    </div>
</div>

<app-banners [banners]="banners"></app-banners>

<div class="products-tabs">  

    <mat-tab-group mat-stretch-tabs (selectedTabChange)="onLinkClick($event)">
       
        <mat-tab label="Featured">           
           <app-products-carousel [products]="featuredProducts"></app-products-carousel>
        </mat-tab>
        <mat-tab label="On Sale">
           <app-products-carousel [products]="onSaleProducts"></app-products-carousel>
        </mat-tab>
        <mat-tab label="Top Rated">
            <app-products-carousel [products]="topRatedProducts"></app-products-carousel>
        </mat-tab>
        <mat-tab label="New Arrivals">
            <app-products-carousel [products]="newArrivalsProducts"></app-products-carousel>
        </mat-tab>
    </mat-tab-group> 


</div>

<!-- <app-brands-carousel [brands]="brands"></app-brands-carousel>  -->